@using Licenta.Common.Entities

@{
    ViewBag.Title = "Anunturile utilizatorului "+ ViewBag.UserName;
}

<h2>@ViewBag.Title</h2>

@if (TempData.ContainsKey("message"))
{
    <h3 class="alert alert-info" role="alert">@ViewBag.message</h3>
}

@foreach (Product product in Model.Products)
{
    @Html.Partial("ProductInfo", product);
}

<a class="btn btn-sm btn-success" href="/Product/New">Adauga un anunt</a>
<br />

