

@{
    ViewBag.Title = "Afisare Anunt";
}

<h2>@ViewBag.Titlu</h2>

<br />

@Html.Partial("ProductShowPartial")

@if (ViewBag.Allow == true)
{
    <a class="btn btn-sm btn-info" href="/Product/Edit/@Model.ProductId">
        Modifica anunt
    </a>
    <br />

    <form method="post" action="/Product/Delete/@Model.ProductId">
        @Html.HttpMethodOverride(HttpVerbs.Delete)
        <button class="btn btn-sm btn-danger" type="submit" onclick="return confirm('Esti sigur?');">Sterge anunt</button>
    </form>
    <br/>

    <a class="btn btn-sm btn-danger" href="/Product/Deactivate/@Model.ProductId">
        Dezactiveaza anunt
    </a>
    <br />

}

<hr />
<a class="btn btn-sm btn-success" href="/Product/Index">Inapoi la anunturile mele</a>
<a class="btn btn-sm btn-success" href="/Product/New">Adauga anunt</a>

<br />

<hr />
<form method="post" action="/Message/New/@Model.ProductId">
    @*<input type="hidden" name="ProductId" value="@Model.ProductId" />*@
    <label>Trimite mesaj:</label>
    <br />
    <input type="text" name="Content" />
    <button class="btn btn-sm btn-success" type="submit">Trimite mesaj</button>
</form>