
@{
    ViewBag.Title = "Rezultatele Cautarii";
}

<h2>@ViewBag.Title</h2>
<h3>"@ViewBag.Search"</h3>
<br />

<form method="POST" action="/Search/Index?search=@ViewBag.Search">
    Sorteaza dupa:
    <select id="sortType" name="sortType">
        <option value="Select">--Selecteaza--</option>
        <option value="Title">Titlu</option>
        <option value="Date">Data postarii</option>
        <option value="PriceAsc">Pret crescator</option>
        <option value="PriceDesc">Pret descrescator</option>
    </select>
    <input class="btn btn-default" type="submit" value="Aplica" />
</form>
<br />

@if (ViewBag.NoResult == false)
{
    foreach (Licenta.Models.Product product in ViewBag.Products)
    {
        @Html.Partial("ProductInfo", product);
    }
}
else
{
    <p>Nu am gasit anunturi care sa se potriveasca acestei cautari!</p>
    <p>Asigura-te ca ai scris corect (se poate intampla oricui) sau incearca o cautare mai generala.</p>
}

