
@{
    ViewBag.Title = "Conversatiile mele";
}

<h2>@ViewBag.Title</h2>

<p>Aici ai raspunsurile la anunturile tale si raspunsurile trimise de tine pentru alte anunturi</p>

@Html.Label("Afiseaza:");
@Html.DropDownList("sortType", new SelectList(
                                new List<Object>{
                                    new { value = "Received" , text = "Mesaje primite"  },
                                    new { value = "Send" , text = "Mesaje trimite" }
                               }, "value","text",2), new { id = "sortType", @class = "form-control" });

@foreach (Licenta.Common.Entities.Conversation conversation in ViewBag.conversations)
{
    @Html.Partial("ConversationInfo", conversation);

}